version: '3.8'
services:
  api:
    build: .
    container_name: api-mongodb
    ports:
      - "5000:5000"
    environment:
      - PORT=${PORT}
      - HOST_DB=${HOST_DB}
    depends_on:
      - db
    
  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"